<div id="<%= dom_id restaurant %>">
  <h3>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
  </h3>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= restaurant.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= restaurant.category %>
  </p>

</div>
